h1 {width:100%}

.infos {padding: 10px;
  width: calc(100% - 250px);}

.favorite-link {
  text-decoration: none;
  color: #333; // Ajoute une transition en douceur pour la transformation
}

.favorite-link:hover {
  color: #5ce1e6;
}

h2.reviews {text-shadow: 1px 1px #5ce1e6;
  color: white;
  background-color:#b1f1f3;
padding: 10px;
border-radius: 10px;
border: 1px solid #5ce1e6;
margin-bottom: 10px;
}
