<h1>My booked friends</h1>

<div class="container mt-3">
<% @friends.each do |friend| %>
  <li ><% friend.first_name %> |  <%= friend.content %> | <%= friend.booking.start_date %></li>
<% end %>
</div>
