h1, h2 {text-align:center}

.friend_card {width: 25%;
border-radius: 10px;
background-color:white;
margin-top:100px;
flex-direction: column;
    align-items: center;
    display:flex;


  .icon {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
    top: -100px;
  }

}
