<div class="friends"><div class="container"><h1>100 amis</h1>
<h2>Nos amis à disposition...</h2></div>
<div class="container d-flex">filtres</div>
<div class="container d-flex"><div class="friend_card"><% @friends.each do |friend| %>
<%= friend.first_name %>
<% end %>
</div></div>
</div>
