<h1> Create a booking</h1>


<div class="container mt-3">
  <div class="row">
    <%= simple_form_for [@friend, @booking] do |f| %>
      <%= f.input :start_date, as: :date, html5: true %>
      <%= f.input :end_date, as: :date, html5: true   %>
      <%= f.submit "Submit review", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
