<div class="footer mt-4">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class = "align-items-center">
    <%= image_tag "https://i.imgur.com/1SHysvA.png", class: "footer-avatar" %>
  </div>
  <div class="footer-copyright">
      On a tous un ami dont on n'sait pas quoi faire, autant le louer !
  </div>
</div>
