.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  z-index: 9999999;
  margin: 0 auto;
  width: 1320px;
  padding: 0.5rem 1.5rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  border-radius:10px;
  margin-right: 10px
}

.navbar-lewagon .navbar-brand {font-family: $headings-font-family;
  color: $primary;
  font-weight: 600;
  font-size: 24px;
  padding: 0px
}

.user {display: flex;
  align-items: center;
width: fit-content;

.pseudo {    width: 100px;
  text-align: center;}}
